.imageProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.link {
    text-decoration: none;
}

.link-edit{
    text-decoration: none;
    color: black;
}