body {
    background-color: #fbf9f3;
}

.linkLogo {
    text-decoration: none;
    color: #230c0f;
    padding-left: 10px;
}

.appbar {
    background-color: #fbf9f3;
    position: relative;
}

.link-profile{
    text-decoration: none;
    color: black;
    
}

.navItem {
    display: flex;
    position: relative;
    align-items: center;
}

.slide-bar-icon {
    text-decoration: none;
    color: #230c0f;
}

.MuiAppBar-colorPrimary {
    background-color: rgba(0, 0, 0, 0.12);
}

.auth-btn {
    text-decoration: none;
    margin: auto 10px;
    color: #230c0f;
}

.auth-btn:hover {
    color: #230c0fa4
}

.link-profile-btn-logout {
    background-color: #230c0f;
}



.navbar-img-logo-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
}
