body {
    background-color: #fbf9f3;
}

.linkLogo {
    text-decoration: none;
    color: #230c0f;
    padding-left: 10px;
}

.appbar {
    background-color: #fbf9f3;
}

.link-profile{
    text-decoration: none;
    color: black;
    
}

.navItem {
    display: flex;
    position: relative;
    align-items: center;
}

.slide-bar-icon {
    text-decoration: none;
    color: #230c0f;
}

.MuiAppBar-colorPrimary {
    background-color: rgba(0, 0, 0, 0.12);
}

