.link {
    text-decoration: none;
    color: white;
    padding-left: 10px
}

.link-profile{
    text-decoration: none;
    color: black;
}

.navItem {
    display: flex;
    position: relative;
    align-items: center;
}