.projectDetailContainer {
    width: 50%;
    height: 50%;
    margin-top: 50px;
}

.Thebigger-upBox {
    width: 100%;
    margin: auto;
}

.btnBoxDetail {
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    width: 100%;
    
    margin: 50px auto;
}
.btnBoxDetail .editLink {
    padding: 5px 26px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #788bff;
    margin: 50px;
    background: #788bff;
    color:#fbf9f3
}

.btnBoxDetail .editLink:hover {
    color: #788bff;
    background-color: #788aff9a;
    border: 1px solid #fbf9f3
}

.btnBoxDetail .deleteBtn {
    padding: 8px 20px;
    border-radius: 5px;
    border: 1px solid;
    color: #fbf9f3;
    background-color: rgba(255, 0, 0, 0.719);
    cursor: pointer;
    margin: 50px;
}

.btnBoxDetail .deleteBtn:hover {
    color: rgb(224, 151, 151);
}

.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    background-color: #230c0fdc;
    border-radius: 5px;
}

.itemJob {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    background-color: #6A7062;
    border-radius: 5px;
}

.item .linkname {
    text-decoration: none;
    color: #fbf9f3;
    padding: 0;
}

.itemJob .linkname {
    text-decoration: none;
    color: #fbf9f3;
    padding: 0;
}


.infoTitleDetail {
    margin-left: 20px;
    color: #fbf9f3;

}
h2 {
    margin: 0
}

.padding-less{
    padding-bottom: 0;
    height: 125px;
}

.image{
    width: 100%;
    max-height: 350px;
    border: 1px solid;
    border-radius: 0;
    margin: auto;
    height: 100%;
   
}

.imageBox-item {
    display: flex;
    width: 100%;
    height: 350px;
    padding: 0px;
    margin-top: 10px;
    
}

.moreProject {
    text-align: center;
    margin: 5px;
    width: 500px;
}

.item .profilePic {
    width: 75px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 4px;
    background-color: white;
    
}

.itemJob .profilePic {
    width: 75px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 4px;
    background-color: white;
    
}


.spanLine {
    border: 1px solid #e7e7e9;
    width: 100%   
}

.lineBox {
    display: flex;
    align-items: center;
    width: 100%
}

.containerBottom {
    width: 50%;
    height: 50%;
    margin-top: 50px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.containerBottom:hover .padding-less .lineBox .spanLine {
    color:  #788bff;
    border-color: #788bff;
}

.profileLink {
    margin-top: 2px;
    padding: 0.1px 50px;
    border-radius: 20px;
    visibility: hidden;
    text-decoration: none;
    color: #788bff;
}


.containerBottom:hover .padding-less .lineBox .profileLink {
    visibility:visible;
}

.desc-project-detail {
    margin-bottom: 25px;
}

.languages-loop {
    width: 100%;
    text-align: center;
    height: 30px;
}

.url-project-detail {
    display: flex;
    justify-content: space-evenly;
    text-align : center;
    width: 100%;
    margin-top: 50px;
}

.url-project-git {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #788bff
}

.space-url {
    margin-left: 10px;
}

.languages-margin {
    padding: 0 15px;
}

.languages-margin:hover {
   font-size: 23px;
   font-size-adjust: 10px;
}