
.link-profile{
    text-decoration: none;
    color: #3f51b5;
}

.externalButtons{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#button-linkedin{
    border-radius: 0%;
    
    height: 42px;

}

.logosignpages{
    width: 35%;
}

#signinSubmit{
    background-color: #7888bf;
    color: #ECEBE4
}

.logosignin{
    width: 35%;
}